.bg {
    background-color: rgba(128, 128, 128, 0.507);
}

.cards {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 60px;
    color: blue;
    display: flex;
    justify-content: center;
}

.page a{
    text-decoration: none;
    margin-left: 30px;
}
.page ul{
    list-style: none;
    display: flex;
    padding: 20px;
    justify-content: center;
}